* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.absolute-pos {
  position: absolute;
}
.clock {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: inset 4px 4px 15px #202020, inset -4px -4px 15px #202020;
  position: relative;
  background: url(../images/clock.png) no-repeat center center;
  background-size: contain;
}

.clock::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #878787;
  z-index: 4;
}
.clock > div {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.second::after {
  content: "";
  display: block;
  width: 3px;
  border-radius: 5px;
  height: 70%;
  background-color: rgb(27, 245, 27);
}
.minute::after {
  content: "";
  display: block;
  width: 4px;
  border-radius: 5px;
  height: 65%;
  background-color: rgb(255, 0, 225);
}
.hour::after {
  content: "";
  display: block;
  width: 5px;
  border-radius: 5px;
  height: 55%;
  background-color: rgb(255, 225, 0);
}
