* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.absolute-pos {
  position: absolute;
}
.clock {
  width: 390px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: inset 10px 10px 15px #202020, inset -10px -10px 15px #202020;
  position: relative;
}
.major-number {
  font-size: 35px;
  font-weight: bolder;
  color: #ffaa00;
}
.tweleve {
  left: 163px;
  top: 8px;
}
.three {
  left: 360px;
  top: 170px;
}
.nine {
  left: 8px;
  top: 170px;
}

.six {
  left: 180px;
  top: 350px;
}
.clock::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #878787;
  z-index: 4;
}
.clock > div {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.second {
  transform: rotate(80deg);
}
.minute {
  transform: rotate(20deg);
}
.second::after {
  content: "";
  display: block;
  width: 8px;
  border-radius: 5px;
  height: 65%;
  background-color: green;
}
.minute::after {
  content: "";
  display: block;
  width: 8px;
  border-radius: 5px;
  height: 60%;
  background-color: red;
}
.hour::after {
  content: "";
  display: block;
  width: 8px;
  border-radius: 5px;
  height: 55%;
  background-color: orange;
}
