* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.absolute-pos {
  position: absolute;
}
.clock {
  width: 390px;
  height: 390px;
  border-radius: 100%;
  box-shadow: 0px 0px 12px -3px #000;
  position: relative;
}
.major-number {
  font-size: 35px;
  font-weight: bolder;
  color: #ffaa00;
}
.tweleve {
  left: 163px;
  top: 8px;
}
.three {
  left: 360px;
  top: 170px;
}
.nine {
  left: 8px;
  top: 170px;
}

.six {
  left: 180px;
  top: 350px;
}
.between {
  display: inline-block;
  width: 6px;
  height: 25px;
  background-color: aliceblue;
  margin: 5px;
}
.nine-to-twelve {
  position: absolute;
  top: 70px;
  left: 50px;
  transform: rotate(-60deg);
}
